html {
  box-sizing: border-box;
  font-size: 62.5%;
}
.todoApp {
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  width: 100%;
  max-width: 800px;
}

.container {
  width: 100%;
}

h1 {
  margin: 10px auto;
  color: #fcecc9;
  text-shadow: 3px 3px #c97064;
  font-size: 5rem;
}

body {
  background-color: #476a6f;
}
